.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(auto, auto);
  align-items: end;
  gap: 30px;
}
.box1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: center;
  justify-self: center;
}
.box1_5 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: center;
  justify-self: center;
}
.box2 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  justify-self: center;
  align-self: center;
}
.box3 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  justify-self: center;
}

#myTable {
    width: 100%;
}

#myTable th, td {
    padding: 15px;
}
